* {
    background-color: lightslategray;
    
}

.button {
    background-color: none;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 5px;
    text-align: center;
    
}
img {
    height: auto;
    width: 600px;
    border-radius: 10px;
    display: block;
    margin: 10px auto 10px auto;
}

ul {
    list-style-type: none;
}
ul .steps{
    text-align: left;
}

ul,
li,
h3,
p {
    background-color: rgb(245, 245, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    padding: 5px 60px;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
    background-color: whitesmoke;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
    color: lightslategray;
    text-decoration: line-through;
}
h3 {
    border-bottom: lightslategrey;
    border-style: inset;
    border-width: 0px 0px 2px 0px;
}